<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="con" value="Server=0fad9595-c789-4512-8311-a331007c0f50.sqlserver.sequelizer.com;Database=db0fad9595c78945128311a331007c0f50;User ID=zpcquflnfubcjqwj;Password=K8ihKxZeU3YUyUsCjp4JjV8X64ntJWK65Rhycy2ESbZ5wPfzDG5gRrmX8skQkFC6"/>
    
  </appSettings>
</configuration>
